<div nz-row nzType="flex" nzJustify="center">
  <div nz-col [nzXs]="24" [nzLg]="16">
    <div class="m-3">
      <h1 style="margin-top: 0.5em;">Bitly<span style="color: rgba(82, 196, 26, 0.5);">.</span></h1>
      <form
        [formGroup]="shortenerForm"
        novalidate
        (ngSubmit)="shorten(shortenerForm)"
      >
        <div style="display: flex;">
          <input
            style="flex: 2;"
            type="text"
            formControlName="long"
            nz-input
            [nzSize]="large"
            placeholder="Shorten your link"
          />
          <input
            style="flex: 1; margin: 0px 10px;"
            type="text"
            formControlName="custom"
            nz-input
            [nzSize]="large"
            placeholder="Customize your link (Optional)"
          />
          <button
            [disabled]="shortenerForm.invalid"
            nz-button
            type="submit"
            nzType="primary"
            nzSearch
          >
            Shorten
          </button>
        </div>
      </form>
      <nz-collapse [nzBordered]="false" style="margin: 10px 0px;">
        <nz-collapse-panel
          class="new-link"
          *ngFor="let link of history"
          [class.new]="!link.clicked"
          [nzHeader]="customHeader"
          [nzActive]="link.active"
          [nzShowArrow]="false"
        >
          <ng-template #customHeader>
            <div style="display: flex; align-items: center; flex-wrap: wrap;">
              <span
                style="flex: 3; max-width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                >{{ link.long }}</span
              >
              <span>
                <button
                  nz-button
                  class="m-3"
                  nzType="default"
                  (click)="copyToClipboard(link.short); $event.stopPropagation()"
                >
                  Copy Short Link
                </button>
                <button nz-button nzType="default" (click)="getStats(link.id)">
                  Stats
                </button>
              </span>
            </div>
          </ng-template>
          <span>{{ link.visits.length }} Visits</span>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</div>
<!-- {{ history | json }} -->
